 #programme
 {
	 text-align: center;
	 color: blue;
	 font-family: serif;
 }
 #gamer
 {
	padding: 20px;
    margin: 30px 05px 30px 150px;
    	
 }
 
 #euro{
	 padding: 40px 100px 40px 100px;
	 margin: 30px;
	 
 }